force-app/main/default/flows/Expenso_2_Create_Transaction_PE_From_SMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Extract_Balance_Information</name>
        <label>Extract Balance Information</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <actionName>InvocableBalanceUpdateHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Balance_Information_in_SMS_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Generate_Log_1</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>smsList</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableBalanceUpdateHandler</nameSegment>
        <outputParameters>
            <assignToReference>OutputFromAction_BalanceUpdate</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Extract_the_Beneficiary_and_Amount</name>
        <label>Extract the Beneficiary and Amount</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>InvocableBeneficiaryAmountUpdateHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Beneficiary_and_amount_information_in_SMS_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Generate_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>smsList</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableBeneficiaryAmountUpdateHandler</nameSegment>
        <outputParameters>
            <assignToReference>OutputFromAction_BeneficiaryAmount</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Balance_Information_in_SMS_Record</name>
        <label>Assign Balance Information in SMS Record</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>outputSMS.SA_Available_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutputFromAction_BalanceUpdate.SA_Available_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputSMS.CC_Available_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutputFromAction_BalanceUpdate.CC_Available_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requireSMSUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Financial_Account_Platform_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Beneficiary_and_amount_information_in_SMS_Record</name>
        <label>Assign Beneficiary and amount information in SMS Record</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>outputSMS.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutputFromAction_BeneficiaryAmount.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputSMS.Payment_Via__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutputFromAction_BeneficiaryAmount.Payment_Via__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputSMS.Payment_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutputFromAction_BeneficiaryAmount.Payment_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requireSMSUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputSMS.Beneficiary_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutputFromAction_BeneficiaryAmount.Beneficiary_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputSMS.Beneficiary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutputFromAction_BeneficiaryAmount.Beneficiary__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Transaction_Platform_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Output_SMS</name>
        <label>Populate Output SMS</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>outputSMS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FLOW_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Expenso - 2. Create Transaction PE From SMS</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check if balance update is true and finance account is present</description>
        <name>Balance_Update_Required</name>
        <label>Balance Update Required?</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Update_SMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Balance_Update__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Finance_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extract_Balance_Information</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Transaction</name>
        <label>Create Transaction?</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Balance_Update_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Create_Transaction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Finance_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extract_the_Beneficiary_and_Amount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_SMS</name>
        <label>Update SMS?</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>requireSMSUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_The_SMS_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaDateTime_SMSReceivedAt</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Record.Received_At__c})</expression>
    </formulas>
    <interviewLabel>Expenso - 2. Create Transaction PE From SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Expenso - 2. Create Transaction PE From SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Generate_Financial_Account_Platform_Event</name>
        <label>Generate Financial Account Platform Event</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_SMS</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Id__c</field>
            <value>
                <elementReference>$Record.Finance_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CC_Available_Balance__c</field>
            <value>
                <elementReference>outputSMS.CC_Available_Balance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CC_Last_Payment__c</field>
            <value>
                <elementReference>outputSMS.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SA_Balance__c</field>
            <value>
                <elementReference>outputSMS.SA_Available_Balance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Received_At__c</field>
            <value>
                <elementReference>formulaDateTime_SMSReceivedAt</elementReference>
            </value>
        </inputAssignments>
        <object>Finance_Account_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Generate_Log</name>
        <label>Generate Log</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Error occurred while extracting beneficiary and amount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Component__c</field>
            <value>
                <elementReference>FLOW_NAME</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_To__c</field>
            <value>
                <elementReference>outputSMS.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>System_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Generate_Log_1</name>
        <label>Generate Log</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Error occurred while extracting balance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Component__c</field>
            <value>
                <elementReference>FLOW_NAME</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_To__c</field>
            <value>
                <elementReference>outputSMS.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>System_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Generate_Log_2</name>
        <label>Generate Log</label>
        <locationX>314</locationX>
        <locationY>1727</locationY>
        <inputAssignments>
            <field>Component_Name__c</field>
            <value>
                <elementReference>FLOW_NAME</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Error occurred while updatign the SMS from transaction flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_To__c</field>
            <value>
                <elementReference>outputSMS.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>System_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Generate_Transaction_Platform_Event</name>
        <label>Generate Transaction Platform Event</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Balance_Update_Required</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>outputSMS.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Balance_Update__c</field>
            <value>
                <elementReference>$Record.Balance_Update__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beneficiary_Name__c</field>
            <value>
                <elementReference>outputSMS.Beneficiary_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beneficiary__c</field>
            <value>
                <elementReference>outputSMS.Beneficiary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Id__c</field>
            <value>
                <elementReference>$Record.External_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_Account__c</field>
            <value>
                <elementReference>$Record.Finance_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Reference__c</field>
            <value>
                <elementReference>outputSMS.Payment_Reference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Via__c</field>
            <value>
                <elementReference>outputSMS.Payment_Via__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Content__c</field>
            <value>
                <elementReference>$Record.Content__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Date__c</field>
            <value>
                <elementReference>$Record.Transaction_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_The_SMS_Record</name>
        <label>Update The SMS Record</label>
        <locationX>50</locationX>
        <locationY>1619</locationY>
        <faultConnector>
            <targetReference>Generate_Log_2</targetReference>
        </faultConnector>
        <inputReference>outputSMS</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Populate_Output_SMS</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Create_Transaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Balance_Update__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SMS__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>generateTransaction</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OutputFromAction_BalanceUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
    <variables>
        <name>OutputFromAction_BeneficiaryAmount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
    <variables>
        <name>outputSMS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
    <variables>
        <name>requireSMSUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
