force-app/main/default/flows/Expenso_3_Create_Transaction_From_Transaction_PE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Record_Found</name>
        <label>Record Found?</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Create_Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transactionRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaAmount</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Record.Amount__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Expenso - 3. Create Transaction From Transaction PE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Expenso - 3. Create Transaction From Transaction PE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Transaction</name>
        <label>Create Transaction</label>
        <locationX>308</locationX>
        <locationY>386</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>formulaAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beneficiary_Name__c</field>
            <value>
                <elementReference>$Record.Beneficiary_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beneficiary__c</field>
            <value>
                <elementReference>$Record.Beneficiary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Id__c</field>
            <value>
                <elementReference>$Record.External_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_Account__c</field>
            <value>
                <elementReference>$Record.Finance_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Reference__c</field>
            <value>
                <elementReference>$Record.Payment_Reference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Via__c</field>
            <value>
                <elementReference>$Record.Payment_Via__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Content__c</field>
            <value>
                <elementReference>$Record.SMS_Content__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS__c</field>
            <value>
                <elementReference>$Record.SMS_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Date__c</field>
            <value>
                <elementReference>$Record.Transaction_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Transaction_Record</name>
        <label>Get Transaction Record</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.External_Id__c</elementReference>
            </value>
        </filters>
        <object>Transaction__c</object>
        <outputReference>transactionRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Transaction_Record</targetReference>
        </connector>
        <object>Transaction_Platform_Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>outputTransactionEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Platform_Event__e</objectType>
    </variables>
    <variables>
        <name>transactionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
</Flow>
