force-app/main/default/flows/Expenso_4_Update_Financial_Account_Balance_from_Financial_Account_PE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Update_CC_Balance</name>
        <label>Update CC Balance</label>
        <locationX>314</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>financeAccountRecord.CC_Available_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CCAvailableBalanceFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CC_Last_Paid_Amount_and_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CC_Last_Paid_Amount_and_Date</name>
        <label>Update CC Last Paid Amount and Date</label>
        <locationX>314</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>financeAccountRecord.CC_Last_Paid_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CCLastPaidAmountFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financeAccountRecord.CC_Last_Bill_Paid_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CCLastPaidDateFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Fin_Account_s_Last_Update_Time_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Fin_Account_s_Last_Update_Time</name>
        <label>Update Fin Account&apos;s Last Update Time</label>
        <locationX>50</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>financeAccountRecord.Balance_Last_Updated_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SMS_Received_At__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Financial_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Fin_Account_s_Last_Update_Time_1</name>
        <label>Update Fin Account&apos;s Last Update Time</label>
        <locationX>314</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>financeAccountRecord.Balance_Last_Updated_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SMS_Received_At__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Financial_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SA_Balance</name>
        <label>Update SA Balance</label>
        <locationX>50</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>financeAccountRecord.SA_Last_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SALastBalanceFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Fin_Account_s_Last_Update_Time</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FLOW_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Expenso - 4. Update Financial Account Balance from Financial Account PE</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_Type</name>
        <label>Account Type?</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Unknown</defaultConnectorLabel>
        <rules>
            <name>Savings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>financeAccountRecord.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>93234ede-4adf-4a7c-9dd1-696e5d3cad7d</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA_Balance</targetReference>
            </connector>
            <label>Savings</label>
        </rules>
        <rules>
            <name>Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>financeAccountRecord.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CC_Balance</targetReference>
            </connector>
            <label>Credit</label>
        </rules>
        <rules>
            <name>Investment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>financeAccountRecord.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investment</stringValue>
                </rightValue>
            </conditions>
            <label>Investment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CCAvailableBalanceFormula</name>
        <dataType>Number</dataType>
        <expression>Value({!$Record.CC_Available_Balance__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CCLastPaidAmountFormula</name>
        <dataType>Number</dataType>
        <expression>Value({!$Record.CC_Last_Payment__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CCLastPaidDateFormula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.SMS_Received_At__c})</expression>
    </formulas>
    <formulas>
        <name>SALastBalanceFormula</name>
        <dataType>Number</dataType>
        <expression>Value({!$Record.SA_Balance__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>stackTraceErrorMessage255Chars</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Flow.FaultMessage}, 255)</expression>
    </formulas>
    <interviewLabel>Expenso - 4. Update Financial Account Balance from Financial Account PE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Expenso - 4. Update Financial Account Balance from Financial Account PE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Generate_Log</name>
        <label>Generate Log</label>
        <locationX>1106</locationX>
        <locationY>902</locationY>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>stackTraceErrorMessage255Chars</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Component__c</field>
            <value>
                <elementReference>FLOW_NAME</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_To__c</field>
            <value>
                <elementReference>financeAccountRecord.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>stackTraceErrorMessage255Chars</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>System_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Financial_Account</name>
        <label>Get Financial Account</label>
        <locationX>446</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Id__c</elementReference>
            </value>
        </filters>
        <object>Finance_Account__c</object>
        <outputReference>financeAccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SA_Last_Balance__c</queriedFields>
        <queriedFields>CC_Available_Limit__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Balance_Last_Updated_At__c</queriedFields>
        <queriedFields>CC_Last_Paid_Amount__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Financial_Account</name>
        <label>Update Financial Account</label>
        <locationX>446</locationX>
        <locationY>794</locationY>
        <connector>
            <targetReference>Update_SMS_With_Info_that_Balance_is_Updated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Generate_Log</targetReference>
        </faultConnector>
        <inputReference>financeAccountRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SMS_With_Info_that_Balance_is_Updated</name>
        <label>Update SMS With Info that Balance is Updated</label>
        <locationX>446</locationX>
        <locationY>902</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Received_At__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SMS_Received_At__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Balance_Processed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Financial_Account</targetReference>
        </connector>
        <object>Finance_Account_Platform_Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>financeAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Finance_Account__c</objectType>
    </variables>
</Flow>
