force-app/main/default/flows/Expenso_2_Create_Transaction_PE_From_SMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <description>Check if balance update is true and finance account is present</description>
        <name>Balance_Update_Required</name>
        <label>Balance Update Required?</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Balance_Update__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Finance_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Financial_Account_Platform_Event</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Transaction</name>
        <label>Create Transaction?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Balance_Update_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Create_Transaction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Finance_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Transaction_Platform_Event</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Expenso - 2. Create Transaction PE From SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Expenso - 2. Create Transaction PE From SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Log</name>
        <label>Create Log</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Balance_Update_Required</targetReference>
        </connector>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>I am here!</stringValue>
            </value>
        </inputAssignments>
        <object>System_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Generate_Financial_Account_Platform_Event</name>
        <label>Generate Financial Account Platform Event</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Account_Id__c</field>
            <value>
                <elementReference>$Record.Finance_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CC_Available_Balance__c</field>
            <value>
                <elementReference>$Record.CC_Available_Balance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SA_Balance__c</field>
            <value>
                <elementReference>$Record.SA_Available_Balance__c</elementReference>
            </value>
        </inputAssignments>
        <object>Finance_Account_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Generate_Transaction_Platform_Event</name>
        <label>Generate Transaction Platform Event</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Create_Log</targetReference>
        </connector>
        <inputAssignments>
            <field>Balance_Update__c</field>
            <value>
                <elementReference>$Record.Balance_Update__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Id__c</field>
            <value>
                <elementReference>$Record.External_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_Account__c</field>
            <value>
                <elementReference>$Record.Finance_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Content__c</field>
            <value>
                <elementReference>$Record.Content__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Date__c</field>
            <value>
                <elementReference>$Record.Transaction_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Transaction</targetReference>
        </connector>
        <object>SMS__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
