force-app/main/default/flows/Expenso_1_Create_SMS_from_SMS_PE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Credit_Debit_Balance_Update_financial_account_Info</name>
        <label>Assign Credit, Debit, Balance Update, financial account Info</label>
        <locationX>50</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>SMSRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreditOrDebitFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSRecord.Balance_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>balanceUpdateFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSRecord.Finance_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Finance_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSRecord.Create_Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createTransactionFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSRecord.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transactionDateFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SMS_Record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Const_CREDIT_REGEX</name>
        <dataType>String</dataType>
        <value>
            <stringValue>.*(credit|credited|amt received|money received|deposited).*</stringValue>
        </value>
    </constants>
    <constants>
        <name>Const_DEBIT_REGEX</name>
        <dataType>String</dataType>
        <value>
            <stringValue>.*(debit|debited|money transfer|amt sent|money sent|withdrawn|spent|from hdfc bank a/c|on hdfc bank card 2004).*</stringValue>
        </value>
    </constants>
    <decisions>
        <name>SMS_Exists</name>
        <label>SMS Exists?</label>
        <locationX>182</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>Create_SMS_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SMSRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Credit_Debit_Balance_Update_financial_account_Info</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>balanceUpdateFormula</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    CONTAINS(LOWER({!$Record.Content__c}), &quot;balance&quot;),
    CONTAINS(LOWER({!$Record.Content__c}), &quot;avl limit&quot;),
    CONTAINS(LOWER({!$Record.Content__c}), &quot;avl bal&quot;),
    CONTAINS(LOWER({!$Record.Content__c}), &quot;available bal&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>createTransactionFormula</name>
        <dataType>Boolean</dataType>
        <expression>OR({!CreditOrDebitFormula} == &apos;Credit&apos;, {!CreditOrDebitFormula} == &apos;Debit&apos;)</expression>
    </formulas>
    <formulas>
        <name>CreditOrDebitFormula</name>
        <dataType>String</dataType>
        <expression>IF(
    REGEX(LOWER({!$Record.Content__c}), {!Const_DEBIT_REGEX}),
    &apos;Debit&apos;,
    IF(
        REGEX(LOWER({!$Record.Content__c}), {!Const_CREDIT_REGEX}),
        &apos;Credit&apos;,
        &apos;Promotional&apos;
    )
)</expression>
    </formulas>
    <formulas>
        <description>Removes the special characters from the received at value and generates an all-number external id</description>
        <name>ExternalIdFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!$Record.Received_At__c},&apos;-&apos;, &apos;&apos;),&apos;:&apos;, &apos;&apos;), &apos; &apos;, &apos;&apos;), &apos;.&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>FinanceAccountFormula</name>
        <dataType>String</dataType>
        <expression>IF(
    REGEX(LOWER({!$Record.Content__c}), &quot;.*(6414|a/cx6414|xx6414).*&quot;),
    &quot;SBI-SA&quot;,
    IF(
        REGEX(LOWER({!$Record.Content__c}), &quot;.*(xxx360|xx360|a/cx360).*&quot;),
        &quot;ICICI-SA&quot;,
        IF(
            REGEX(LOWER({!$Record.Content__c}), &quot;.*(9560|x9560|\\*9560|xxxx9560|hdfc bank a/c).*&quot;),
            &quot;HDFC-SA&quot;,
            IF(
                REGEX(LOWER({!$Record.Content__c}), &quot;.*(9006|x9006).*&quot;),
                &quot;ICICI-CC&quot;,
                IF(
                    REGEX(LOWER({!$Record.Content__c}), &quot;.*(7005|xx7005).*&quot;),
                    &quot;ICICI-AMAZON-CC&quot;,
                    IF(
                        REGEX(LOWER({!$Record.Content__c}), &quot;.*(2004|xx2004).*&quot;),
                        &quot;HDFC-RUPAY-CC&quot;,
                        &quot;Unknown&quot;
                    )
                )
            )
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>transactionDateFormula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.Received_At__c})</expression>
    </formulas>
    <interviewLabel>Expenso - 1. Create SMS from SMS PE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Expenso - 1. Create SMS from SMS PE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SMS_Record</name>
        <label>Create SMS Record</label>
        <locationX>314</locationX>
        <locationY>494</locationY>
        <inputAssignments>
            <field>Balance_Update__c</field>
            <value>
                <elementReference>balanceUpdateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content__c</field>
            <value>
                <elementReference>$Record.Content__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Create_Transaction__c</field>
            <value>
                <elementReference>createTransactionFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Device__c</field>
            <value>
                <elementReference>$Record.Device__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Id__c</field>
            <value>
                <elementReference>$Record.External_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_Account__c</field>
            <value>
                <elementReference>Get_Finance_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Content__c</field>
            <value>
                <elementReference>$Record.Original_Content__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Received_At__c</field>
            <value>
                <elementReference>$Record.Received_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sender__c</field>
            <value>
                <elementReference>$Record.Sender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Date__c</field>
            <value>
                <elementReference>transactionDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>CreditOrDebitFormula</elementReference>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Finance_Account</name>
        <label>Get Finance Account</label>
        <locationX>182</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Codes__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>FinanceAccountFormula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Finance_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SMS</name>
        <label>Get SMS</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SMS_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.External_Id__c</elementReference>
            </value>
        </filters>
        <object>SMS__c</object>
        <outputReference>SMSRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SMS_Record</name>
        <label>Update SMS Record</label>
        <locationX>50</locationX>
        <locationY>602</locationY>
        <inputReference>SMSRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Finance_Account</targetReference>
        </connector>
        <object>SMS_Platform_Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SMSRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
</Flow>
